@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared items */
    .flex{
        display: flex;
    }
    .text-grey{
        color: #424242;
    }
    .bg-light{
        background-color: rgba(255, 144, 14, 0.1);
    }
    .btn-primary{
        background-color: #FF900E;
        color: white;
        padding: 20px 25px;
        border: none;
        border-radius: 8px;
        font-size: 1.15rem;
        font-weight: 600;
    }
    main{
        max-width: 1440px;
        margin: 0 auto;
    }
    .orange{
        color: rgba(255, 144, 14, 1);
    }
    .section-title{
        font-size: 2.4rem;
        font-weight: 700;
    }
    .light-grey{
        color: #727272;
    }
/* Header */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner img{
    width: 100%;
    height: auto;

    
    
}

/* nav-bar */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    
}
.nav-link{
    text-decoration: none;
}
.brand{
    font-size: 2.5rem;
    font-weight: 700;
}

/* Banner */
main > section{
    margin-top: 80px;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
/* team and feature */
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature{
    margin-left: 80px;
    max-width: 530px;
}
.feature-title{
    max-width: 468px;

}
.feauture-disc{
    margin-bottom: 32px;
}
#quick{
    color: #727272;
    font-weight: 500;
}
/* Our feature */
.feature-sect{
    gap: 140px;
}
.feature-sect h3{
    border-left: 5px solid #FF900E;
    padding: 20px;
}
.feature-card .feature-title{
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    
}
/* facts */
#fact-disc{
    max-width: 542px;
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}
.fact-number{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-weight: 500;
    font-size: 1.25rem;
    color: #727272;
    margin-top: 10px;
}
/* our sponsors */
.sponsor-info{
     max-width: 540px;
     text-align: center;
     margin: 50px auto;

}
.sponsor-comp{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;

}
.sponsor-comp img{
    filter: grayscale(100%);
}
     

/* responsive */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .team{
        flex-direction: column;
    }
    .team-img-container, .facts-container, .sponsor-comp{
        grid-template-columns: 1fr
    }
    .feature , .some-facts{
        margin-left: 20px;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-comp{
        gap: 50px;
    }
}
/* Medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
       flex-direction: column;
    }
    .feature{
        margin: 50px auto;
    }
    .sponsor-comp, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    
}